@charset "UTF-8";

/* GERAIS */
body {
    margin: 0;
    padding: 0;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
}

/* Dispositivos com telas menores */
@media (max-width: 768px) {
    h1{
        font-size: 15pt;
    }
}