@charset "UTF-8";

/* MENU */
main {
    display: flex;
    width: 100%;
    height: 70%; /* Define a altura fixa para a main */
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

main h1 {
    display: flex;
    margin: 0;
    height: 20%;
    width: 100%;
    text-align: center;
    justify-content: center; 
    align-items: center;
}
main div {
    display: flex;
    height: 80%; /* Compensa o h2 */
    width: 100%;
    align-items: center;
    
}
main div button{
    flex: 1;
    height: 35%;
    width: auto;
    margin: 20px;
    padding: 0;
    text-decoration: none;
    background: none;
    cursor: pointer;
    justify-content: space-evenly;
    border: 0;
    position: relative; /* Para usar ::before */
    transition: all 0.3s ease; /* Adiciona uma transição suave para o efeito de hover */
}
main div button::before {
    content: '';
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 255, 0, 0.3); 
    z-index: 1; /* Define a camada acima da imagem */
    opacity: 0; 
    transition: all 0.3s ease; /* Adiciona uma transição suave para o efeito de hover */
}
main div button:hover::before { 
    opacity: 1; 
}
main div button:hover { 
    box-shadow: 0 0 10px 5px rgba(0, 255, 0, 0.6); 
}

main div button img{
    width: auto;
    max-height: 75%;
    max-width: 100%;
}
