@charset "UTF-8";

/* ROTAÇÃO */
#rotacao {
    display: flex;
    height: 80%;
    width: auto;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
    margin: 0;
    padding: 0;
    gap: 0;
}
#rotacao #mesa {
    height: 50%;
}
#rotacao div{
    gap: 0;
    display: flex;
    width: 100%;
    height: 25%;
    justify-content: space-around;
    align-items: center;
}
#rotacao div button {
    height: 75%;
    width: auto;
}
#rotacao div button img{
    height: 100%;
}

/* Valores */
#valores{
    flex-direction: column;
    /*gap: 0;*/
}
.linha{
    height: 50%;
    /*gap: 0;*/
}