@charset "UTF-8";

/* Body */
body {
    font-family: Arial, sans-serif; 
    background-color: gray;
    color: rgba(0, 0, 0, 1); 
    margin: 0; 
    padding: 0;
    height: 100vh; /* Define a altura do body como 100% da altura da viewport */
    display: block;
    align-items: center;
    justify-content: center; /* Alinha os itens horizontalmente ao centro */
}
h1 { text-align: center; }

/* Interface */
div#interface {
    width: 95%; /* Define a largura da interface */
    height: 93%; /* Define a altura da interface como 100% da altura da viewport */
    margin: 0 auto; /* Centraliza a interface horizontalmente */
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    padding: 10px;
    border-radius: 10px; /* Define o raio da borda da interface */
}



/* Menu */
.menu {
    width: 95%; 
    border: 0;
    height: auto;
    margin: 0; /* Centraliza o menu */
    padding: 0;
    align-items: center;
    top: 15vh;
    position: absolute;
}
.menu img{
    height: 15vh; 
    max-height: 200px;
    width: auto;
    object-fit: contain; /* Ajusta a imagem para caber dentro do contêiner */
    display: block;
    margin: 0 auto; 
}
.menu hr{
    display: none;
}

/* Menus interativos */
#menu_jogadores { display: block; }
#menu_pos_jogador { display: none; }
#naipes { display: none; }
#valores { display: none; }



/* Menus Rot */
.linha_personagem {
    display: flex; /* Define o display como flexível */
    justify-content: center; /* Centraliza os itens horizontalmente */
    gap: 25px; /* Define o espaçamento entre os botões */
    margin-bottom: 10px;
    margin-top: 0;
}
#mesa {
    width: 90%; /* Define a largura da mesa como 80% */
    margin: 0 auto; /* Centraliza a mesa horizontalmente */
    display: block; /* Garante que a mesa seja exibida como bloco */
    margin-bottom: 10px;
}
.user_rotacao {
    width: 6%; /* Define a largura das imagens pequenas */
    height: auto;
    border: 0;
    position: relative; /* Adiciona posição relativa para o pseudo-elemento */
    background-color: rgba(0, 0, 0, 0.0);
}
.user_rotacao img{
    width: 100%;
    height: auto;
}
.user_rotacao::before {
    content: ''; /* Adiciona conteúdo vazio */
    position: absolute; /* Define a posição como absoluta */
    top: 0; /* Alinha ao topo do botão */
    left: 0; /* Alinha à esquerda do botão */
    width: 100%; /* Define a largura como 100% do botão */
    height: 100%; /* Define a altura como 100% do botão */
    background-color: rgba(0, 255, 0, 0.2); /* Adiciona um leve fundo verde */
    z-index: 1; /* Define a camada acima da imagem */
    box-sizing: border-box; /* Inclui a borda no tamanho total */
    opacity: 0;
    transition: all 0.3s ease;
}
.user_rotacao:hover::before {
    opacity: 1; /* Define a opacidade como 1 ao passar o mouse */
}
.user_rotacao:hover {
    box-shadow: 0 0 10px 5px rgba(0, 255, 0, 0.5); /* Adiciona uma sombra verde brilhante */
}



/* Conf. menus Externos */
nav{ 
    background-color: gray;
    display: block;
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
}
nav ul{
    display: block; 
    margin: 5px;
    padding: 5px;
}
nav h1{
    display: none; 
}

/* Conf. Cabecalho */
nav#status_cards{ top:0; }

/* Conf. Rodapé */
nav#menu_inferior {
    top: 84vh;
    display: none; /* Define o display do menu inferior como flexível */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: center; /* Alinha os itens horizontalmente ao centro */
}



/* Conf. imagens */
.small-image {
    width: 50px; /* Define a largura das imagens pequenas */
    height: auto; /* Define a altura das imagens automaticamente */
}
.image-container {
    display: flex; /* Define o display do contêiner de imagem como flexível */
    flex-direction: row; /* Define a direção dos itens como linha */
    align-items: center; 
    justify-content: space-between; /* Distribui o espaço entre os itens */
    width: 100%;
}
.image-box {
    flex: 1; /* Faz com que cada contêiner de imagem ocupe o mesmo espaço */
    border: 1px solid black; 
    padding: 10px; 
    box-sizing: border-box; /* Inclui a borda e o preenchimento no tamanho total do contêiner */
    text-align: center; 
    margin: 0 10px; /* Adiciona margem entre os contêineres */
    text-decoration: none; /* Remove a decoração do link */
    color: inherit; /* Herda a cor do texto */
    background: none; 
    cursor: pointer; /* Define o cursor como ponteiro ao passar sobre o botão */
    position: relative; /* Define a posição como relativa para usar ::before */
    overflow: hidden; /* Esconde o conteúdo que ultrapassa os limites do contêiner */
    transition: all 0.3s ease; /* Adiciona uma transição suave para o efeito de hover */
}
.image-box::before {
    content: ''; /* Adiciona um conteúdo vazio */
    position: absolute; /* Define a posição como absoluta */
    top: 0; /* Alinha ao topo */
    left: 0; /* Alinha à esquerda */
    width: 100%; /* Define a largura como 100% */
    height: 100%; /* Define a altura como 100% */
    background-color: rgba(0, 255, 0, 0.2); /* Adiciona um leve fundo verde */
    z-index: 1; /* Define a camada acima da imagem */
    opacity: 0; /* Define a opacidade como 0 inicialmente */
    transition: all 0.3s ease; /* Adiciona uma transição suave para o efeito de hover */
}
.image-box:hover::before {
    opacity: 1; /* Define a opacidade como 1 ao passar o mouse */
}
.image-box:hover {
    box-shadow: 0 0 10px 5px rgba(0, 255, 0, 0.5); /* Adiciona uma sombra verde brilhante */
}



/* Configurações em telas menores */
@media (max-width: 768px) {
    h1{font-size: 20pt;}

    .image-box {
        margin: 0;
        padding: 5px;
    }

    .user_rotacao {
        width: 12%; /* Define a largura das imagens pequenas */
        height: auto;
    }

    #menu_jogadores img {
        height: 20vh; 
        max-height: 150px;
    }
    #naipes img {
        height: 20vh; 
        max-height: 100px;
    }
    #valores img {
        height: 20vh; 
        max-height: 150px;
    }
}